@font-face
  font-family 'Novecento sans wide Medium'
  src url('fonts/Novecentosanswide-Medium-webfont.eot')
  src url('fonts/Novecentosanswide-Medium-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Novecentosanswide-Medium-webfont.woff') format('woff'),
      url('fonts/Novecentosanswide-Medium-webfont.ttf') format('truetype'),
      url('fonts/Novecentosanswide-Medium-webfont.svg#webfont') format('svg')

@font-face
  font-family 'Novecento sans wide Light'
  src url('fonts/Novecentosanswide-Light-webfont.eot')
  src url('fonts/Novecentosanswide-Light-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Novecentosanswide-Light-webfont.woff') format('woff'),
      url('fonts/Novecentosanswide-Light-webfont.ttf') format('truetype'),
      url('fonts/Novecentosanswide-Light-webfont.svg#webfont') format('svg')

copy = sans-serif//"Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif
novecento-medium = 'Novecento sans wide Medium', sans-serif
novecento-light = 'Novecento sans wide Light', sans-serif

