@font-face
  font-family 'Novecento sans wide Bold'
  src url('fonts/Novecentosanswide-Bold-webfont.eot')
  src url('fonts/Novecentosanswide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Novecentosanswide-Bold-webfont.woff') format('woff'),
      url('fonts/Novecentosanswide-Bold-webfont.ttf') format('truetype'),
      url('fonts/Novecentosanswide-Bold-webfont.svg#webfont') format('svg')

@font-face
  font-family 'Novecento sans wide Light'
  src url('fonts/Novecentosanswide-Light-webfont.eot')
  src url('fonts/Novecentosanswide-Light-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Novecentosanswide-Light-webfont.woff') format('woff'),
      url('fonts/Novecentosanswide-Light-webfont.ttf') format('truetype'),
      url('fonts/Novecentosanswide-Light-webfont.svg#webfont') format('svg')

book-style = "Palatino Linotype", Palation, "Book Antiqua", Georgia, serif
novecento-bold = 'Novecento sans wide Bold', sans-serif
novecento-light = 'Novecento sans wide Light', sans-serif
