@import 'nib'
@import 'fonts'

*
  box-sizing border-box

body, article, section, nav, header, h1, h2, h3, h4, h5, h6, p
  padding 0
  margin 0

body
  font-family copy
  font-weight 400
  font-size 100%
  background white

h1, h2, h3, h4
  font normal 18px novecento-light
  text-transform uppercase

a
  color #1678bd
  &:visited
    // color #9735bc

header
  padding 20px

  h1
    font 18px/21px novecento-light

.tagline,
time
  color #999
  font italic 15px/22px book-style
  line-height 1.2em
  margin 5px 0 0
  text-transform lowercase

.articles
  font 16px/18px sans-serif
  padding 5% 0 10%;
  article
    position relative
  h2
    font 22px/24px novecento-bold
    padding 15px 20px 15px
  p
    padding 5px 20px
    font 15px/22px book-style
    color #444
  img
    width 100%
    margin 0 0 10px

.recent,
.portfolio
  font-size 12px
  padding 20px 20px 45px
  h2
    margin 26px 0 10px
    font 18px/20px novecento-light
  nav a
    display block
    font italic 15px/30px book-style
    text-decoration none

.recent
  background #f6f6f6

.portfolio
  background #333
  h2
    color #ccc
  a
    color #c0e7ff
    &:visited
      // color #e9c2ff

footer
  padding 30px 20px 100px
  background #333
  font 18px/20px novecento-light
  a
    color #999
    text-decoration none
    border-bottom 1px dotted #999
    &:hover
      color white
