<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kent William Innholt &ndash; Digital Spaces to Empower &amp; Delight</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <header class="main">
      <h1>Kent William Innholt</h1>
      <p class="tagline">Digital spaces to Empower &amp; Delight.</p>
    </header>
    <div class="content">
      {{{body}}}
    </div>
    <aside class="recent">
      <h2>Recent</h2>
      <nav>
        <a href="">Example Headline And Such Things</a>
        <a href="">Example Headline And Such Things</a>
        <a href="">Example Headline And Such Things</a>
      </nav>
      <h2>Bite-sized</h2>
      <nav>
        <a href="">Example Headline And Such Things</a>
        <a href="">Example Headline And Such Things</a>
        <a href="">Example Headline And Such Things</a>
      </nav>
    </aside>
    <aside class="portfolio">
      <nav>
        <h2>Portfolio</h2>
        <a href="">Example Headline And Such Things</a>
      </nav>
      <h2>Contact information</h2>
      <nav>
        <a href="mailto:kentwilliam@gmail.com">kentwilliam@gmail.com</a>
        <a href="https://github.com/kentwilliam">kentwilliam on Github</a>
        <a href="https://twitter.com/oerhoert">@oerhoert on Twitter</a>
      </nav>
    </aside>
  </body>
</html>
