<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <header>
      <p class="tagline">A blog about experiences.</p>
      <h1>Kent William Innholt</h1>
      <nav>
        <a href="/ux-ui">UX &amp; UI</a>
        <a href="/code">Code</a>
        <a href="/contact">Contact</a>
      </nav>
      <article>
        <img src="">
      </article>
    </header>
    <div class="content">
      {{{body}}}
    </div>
  </body>
</html>
